appdirs==1.4.4
attrs==21.4.0
beautifulsoup4==4.11.1
bleach==5.0.0
certifi==2021.10.8
colorama==0.4.4
defusedxml==0.7.1
entrypoints==0.4
fastjsonschema==2.15.3
importlib-metadata==4.11.3
Jinja2==3.1.2
jsonschema==4.5.1
jupyter-client==7.3.1
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
MarkupSafe==2.1.1
mistune==0.8.4
nbclient==0.6.3
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
odfpy==1.4.1
packaging==21.3
pandocfilters==1.5.0
pyee==8.2.2
Pygments==2.12.0
pyparsing==3.0.9
pyppeteer==1.0.2
pyrsistent==0.18.1
python-dateutil==2.8.2
pywin32==304
pyzmq==22.3.0
six==1.16.0
soupsieve==2.3.2.post1
tinycss2==1.1.1
tornado==6.1
tqdm==4.64.0
traitlets==5.2.0
urllib3==1.26.9
webencodings==0.5.1
websockets==10.3
zipp==3.8.0
